#app {
  min-height: 100vh;
}

a {
  color: var(--primary);
  transition: color 0.25s ease-out;
}
a:hover {
  color: var(--primary-dark);
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
